body#override-bootstrap {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url('/images/home-background-image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position:absolute;
}

html, #root, .App {
    height: 100%;
    overflow-x: hidden;
}
