div.about-me-container {
    position: absolute;
    top: 150px;
    max-width: 600px;
    max-height: fit-content;
    margin-left: 20px;
}

p {
    color: white;
    text-shadow: 2 0 8px black, -2 0 8px black, 0 2 8px black, 0 -2 8px black;
}

span.color-change:hover {
    color: fuchsia;
}