h1.title-animation {
    color: purple;
    font-weight: bold;
}

h1.title-animation span {
   animation: bounce 1s ease 2 alternate;
   color: purple; 
   display: inline-block;
   font-size: 50px;
   font-weight: bolder;
   text-shadow: 0 1px 0 white
}

@keyframes bounce {
    100% {
        top: -2px;
        text-shadow: 0 1px 1px purple,
                     0 2px 1px purple,
                     0 3px 1px darkorchid,
                     0 4px 1px darkorchid,
                     0 5px 1px lightgray,
                     0 6px 1px white,
                     0 50px 25px rgba(0, 0, 0, .2);
      }
}