div.home-container.row {
    color: white;
    height: 100%;
}

div.col-sm-6 {
    min-height: 100%;
}

p.home-p {
    box-shadow: 8px 7px 7px white, 9px 8px 8px purple;
    text-align: center;
}

span.color-change:hover {
    color: purple;
}

span.color-change.name-letter {
    color:purple;
}

div.animation-typewriter {
    position: relative;
    margin-left: 50px;
    top: 200px;
    max-width: 600px;
    object-fit: contain;
}

.animation-typewriter p {
    font-size: 70px !important;
    font-weight: bolder;
    overflow: hidden;
    white-space: nowrap;
}

.animation-typewriter p:nth-child(1) {
    width: 1.6em;
    animation: line1 1.5s steps(20, end);
    animation-fill-mode: forwards;
}

.animation-typewriter p:nth-child(2) {
    width: 5.2em;
    opacity: 0;
    animation: line2 2s steps(40, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.animation-typewriter p:nth-child(3) {
    width:7.8em;
    opacity: 0;
    animation: line3 2s steps(40,end);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes line1 {
   0%  {
        width: 0;
    }
    
    100% {
        border: none;
    }
}

@keyframes line2 {
    0%  {
         width: 0;
     }
     1% {
         opacity:1;
     }
     100% {
         opacity: 1;
         border: none;
     }
 }

 @keyframes line3 {
    0%  {
        width: 0;
    }
    1% {
        opacity:1;
    }
    100% {
        opacity: 1;
    }
 }
