div.projects-container {
    position: inherit;
    color: white;
    height: 100%;
    margin-right: 5%;
    margin-left: 1%;
}

div.cards-container.row {
    margin-left: 0;
    margin-right: 0;
}

div.card {
    background-color: rgb(10, 10, 46);
    min-height: 100%;
    box-shadow: 1px 1px 7px white;
}

div.project-title {
    margin-top: 150px;
    margin-bottom: 15px;
    margin-left: 5px;
}

img.card-img {
    object-fit: cover;
    border: 3px solid purple;
}

div.card-body {
    padding: 0.5em;
    text-align: center;
    flex: none;
}

.card-title {
    margin-bottom: 0 !important;
}

p.card-text, a.card-link {
    font-size: 15px;
}

@media(max-aspect-ratio: 9/10) {
    div.projects-left-col, 
    div.projects-center-col, 
    div.projects-right-col {
        flex-basis: auto;
        margin-bottom: 5%;
    }
}