ul.nav-container {
    min-height: 100%;
    max-width:70px;
    background-color: rgb(10, 10, 46);
    position: fixed;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}

.display-flex {
    display: flex;
    flex-direction: column;
}

svg.svg-inline--fa:hover {
    color:purple;
} 

span.span-text {
    font-size:22px;
}

div.logo-container {
    height: 10vh !important;
}

div.info-container {
    justify-content: space-evenly;
    height: 70vh !important;
}

div.social-container {
    justify-content: space-around;
    height: 20vh !important;
}

li.nav-item {
    height: 70px;
    width:70px;
}

.logo-img {
    object-fit: cover;
    display: block;
    margin-top: 15px;
    width:100%;
}