div.skills-container.row {
    position:relative;
    height: 100%;
}

div.skills-list-container {
    color: white;
    position: absolute;
    top: 150px;
    margin-left:20px;
    max-width: 600px;
}

div.pdf-container {
    margin-top:20px;
    color: white;
}

div.num-of-pages {
    font-size: 15px;
    text-align: center;
    transform: translateX(190px);
}

button.btn-size {
    padding: 5px;
    font-size: 15px;
}

button.btn-size.next {
    padding-left: 20px;
    padding-right: 20px;
}

div.page-btns {
    display: inline-flex;
    color: black;
    margin-bottom: 20px;
    margin-top: 5px;
    transform: translateY(-50px);
}

div.next-btn {
    position:relative;
    transform: translateX(300px);
}

div.prev-btn {
    transform: translateX(70px);
}

ul {
    font-size: 20px;
}

.react-pdf__Page__canvas{
    width: 580px !important;
}