div.skills-container.row {
    position: relative;
    height: 100%;
    color: white;
}

div.skills-list-container {
    color: white;
    position: absolute;
    top: 150px;
    margin-left: 20px;
    max-width: 600px;
}

div.pdf-container {
    margin-top: 20px;
}

div.num-of-pages {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

div.num-of-pages p {
    color: black;
}

div.pdf-page-btns {
    display: inline-flex;
    margin-left: 20px;
    margin-top: 5px;
}

div.pdf-download {
    float: right;
    margin-right: 20px;
    padding: 2px;
    font-size: 25px;
}

div.pdf-footer {
    color: black;
    margin-bottom: 20px;
    margin-top: 5px;
    transform: translateY(-50px);
    width: 580px;
}

button.btn-size {
    padding: 2px 2px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
}

ul {
    font-size: 20px;
}

.react-pdf__Page__canvas {
    width: 580px !important;
}