div.skills-container.row {
    position:absolute;
    height: 100%;
    width:100%;
}

div.skills-list-container {
    color: white;
    position: absolute;
    top: 150px;
    margin-left:20px;
    max-width: 600px;
}

div.pdf-container {
    margin-top:40px;
    color: white;
}

ul {
    font-size: 20px;
}