div.about-me-container {
    color: white;
    position: absolute;
    top: 150px;
    max-width: 600px;
    max-height: fit-content;
}

h1.title {
    font-size: 70px;
    font-weight: bolder;
    color: purple;
}