.home-container {
    height: inherit;
}

div.intro-text {
    color: white;
    position: absolute;
    left: 10%;
    top: 35%;
    width: 35%;
    max-height: 90%;
    font-size: 70px !important;
}
