ul.nav-container {
    height: 100vh !important;
    width:70px;
    background-color:  #c83349;
    position: fixed;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.display-flex {
    display: flex;
    flex-direction: column;
}

span.span-text {
    font-size:22px;
}

div.logo-container {
    height: 10vh !important;
}

div.info-container {
    justify-content: space-evenly;
    height: 70vh !important;
}

div.social-container {
    justify-content: space-around;
    height: 20vh !important;
}