div.page-container {
  height: 100vh !important;
  margin-left: 70px;
  font-family: 'Open Sans', sans-serif;
  background: url('../public/images/home-background-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


